@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Evaluator - Inscription") {

<div class="container-fluid">
	<form method="post" action="api/registration">
		<div class="form-group">
			<label for="exampleInputEmail1">Nom d'utilisateur</label>
			<input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Entrez votre nom d'utilisateur">
			<small id="usernameHelp" class="form-text text-muted">Le nom d'utilisateur qui permettra votre connexion.</small>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Mot de passe</label>
			<input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" aria-describedby="passwordHelp">
			<small id="passwordHelp" class="form-text text-muted">Votre mot de passe d'au moins 4 caractères.</small>
		</div>
		<div class="form-group">
			<label for="exampleSelect1">Rôle</label>
			<select class="selectpicker" name="role" id="role" class="form-control" aria-describedby="roleHelp">
				<option value="teacher">Professeur</option>
				<option value="student">Etudiant</option>
			</select>
			<small id="roleHelp" class="form-text text-muted">Sélectionnez votre rôle sur la plateforme.</small>
		</div>
  		<button type="submit" class="btn btn-primary">Enregistrement</button>
	</form>
</div>

}
