@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, connected: Boolean, user: model.User)(script:Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" />
  </head>
  <body>
  	<nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
  		<a class="navbar-brand" href="#">Evaluator Menu</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="evaluatorNavbar">
        	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
            		<a class="nav-link @if(connected) { disabled }" href="/connexion.html">Connexion</a>
				</li>
				<li class="nav-item">
            		<a class="nav-link @if(connected) { disabled }" href="/inscription.html">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link @if(connected == false) { disabled }" href="/cours.html">Cours</a>
				</li>
				<li class="nav-item">
					<a class="nav-link @if(connected == false) { disabled }" href="/utilisateurs.html">Utilisateurs</a>
				</li>
				<!-- Exemple de dropdown
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				-->
       		</ul>
       		@if(connected) {
       			<a class="navbar-brand navbar-right" href="/profil.html">@user.getSurname</a>
       			<a class="navbar-brand navbar-right" href="/api/disconnect">Déconnexion</a>
       		}
       		<!-- Exemple de recherche
	   		<form class="form-inline my-2 my-lg-0">
	   			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	   			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        	</form>
        	-->
		</div>
	</nav>
    
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Bootstrap JS -->
	<script src="/assets/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/assets/javascripts/bootstrap.min.js"></script>
	<script src="/assets/javascripts/form.js"></script>
	
	<script>
		@script
	</script>
 </body>
</html>