@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Evaluator</h1>
          <p>Bienvenue sur notre plateforme d'apprentissage. Inscrivez-vous à des cours variés, répondez à des questionnaires et consultez vos performances. Devenez le meilleur !</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus...</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Cours</h2>
            <p>Inscrivez-vous à plus de N cours couvrant des domaines aussi variés que la logique, l'informatique ou les mathématiques.</p>
            <p><a class="btn btn-secondary" href="#" role="button">C'est partit !</a></p>
          </div>
          <div class="col-md-4">
            <h2>Questionnaires</h2>
            <p>Participez à des questionnaires modulaires comportant des questions réponses et des soumissions de code.</p>
            <p><a class="btn btn-secondary" href="#" role="button">C'est partit !</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">C'est partit !</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Groupe 8, Université Paris-Diderot, 2017-2018</p>
    </footer>
}
