@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, connected: Boolean, user: model.User, allUsers: List[model.User])(implicit flash: Flash)

@script = {
	$("#evaluatorNavbar").find("a:contains('Utilisateurs')").parent().addClass('active');
}

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message, connected, user)(script) {
<div class="container-fluid">
	<div class="jumbotron">
		<h1>Liste des utilisateurs</h1>
		<div class="list-group">
			@for(u <- allUsers) {
				<a href="#" class="list-group-item list-group-item-action">@u.getName</a>
			}
		</div>
	</div>
</div>
}
